.modal {
  color: rgb(44, 42, 42);
  padding: 20px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  position: relative;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin-bottom: 20px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
}

.modal-actions button {
  margin-left: 10px;
}
